



.App{
    height : 100vh;

        .sections{
            width : 100%;
            height: calc(100vh - 70px);
            background-color: rgb(18, 183, 238);
            position: relative;
            top :70px;
            //z-index: 2;
            scroll-behavior: smooth;
            //scroll-snap-points-y: repeat(calc(100vh - 70px));
            scroll-snap-type: y proximity   ;
           
            scrollbar-width: none;
            // &::-webkit-scrollbar-track
            //         {
            //         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            //         border-radius: 10px;
            //         background-color: #F5F5F5;
            //         }

            //         &::-webkit-scrollbar
            //         {
            //         width: 12px;
            //         background-color: #F5F5F5;
            //         }

            //         &::-webkit-scrollbar-thumb
            //         {
            //         border-radius: 10px;
            //         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            //         background-color: rgb(8, 166, 219);
            //         }

            &::-webkit-scrollbar{
                //width: 1em;
                display: none;
            }

            >*{
                
                scroll-snap-align: start;
                width: 100vw;
                height:calc(100vh - 70px);
                
            }
        }   

}
